###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
共通資料/Ignore確認.txt
/共通資料/Ignore確認.txt
/高松/研修プログラム/安西/.vs
/高松/研修プログラム/安西/Debug
/高松/研修プログラム/安西/Project1/Debug
/高松/研修プログラム/安西/Project1/Project1.vcxproj.filters
/高松/研修プログラム/安西/Project1.VC.db
/高松/研修プログラム/安西/Project1.VC.VC.opendb
/高松/研修プログラム/安西/Project1/Debug
/福山/Game/Game.sdf
/高松/Berun/GLLibrary/Debug
/高松/Berun/Berun.VC.db
/高松/Berun/Game.VC.db
/高松/Berun/.vs
/高松/Berun/Debug
/高松/Berun/Berun_Project/Debug
/高松/Berun/Berun_Project/BerunProject.vcxproj.filters
/高松/Berun/Berun.VC.VC.opendb
/福山/Game/*.suo
/福山/Game/Program/Debug
/福山/Game/Program/*.user
/福山/Game/Debug
/福山/Game/Program/*.filters
/福山/Game/Program/*.dll
/福山/Game/Game.v12.suo
/福山/Game/Debug/Game.pdb
/福山/Game/Debug/Game.exe
/福山/Game/Debug/Game.ilk
/福山/Game/CG/Debug